*report.log
*report.out
*report.aux
*.bbl
*.blg
texput.log
.*.swp
*.pyc
warc/
tweets/*
tweets2/*
tweets_bad/
__pycache__/
CarbonDate/
output_2015-01-31b
old/
*_words
*_words_*
concat_*
hw3_report/stats/original_words.stats
